<%- include('partials/header.ejs') %>

<h1><%= promo.name  %></h1>

<p>Github

<a href=" <%= promo.github_organization %>" target="_blank">
<%= promo.github_organization %>
</a>
</p>


<a href="#">Voir la liste des étudiants</a>



<%- include('partials/footer.ejs') %>